#config/config.yml
config/s3cfg
rspec.failures

# Bundler-related ignores
bin/*
.bundle
vendor/

# app-specific ignores:
/build*list.json
/build*list_v?.json
release-metadata-cache/*

# ignore backup dirs and files
s3-client-backup
s3-server-backup
backup-error-log
client_migrate_manifest_names
server_migrate_manifest_names
*reversed.json

# Ignore emacs temp files
*~
*.rb#
.#*
[#]*[#]

# Ignore dev files
metadata_dir/

# Ignore habitat builds
results/

# test kitchen
.kitchen

.delivery/cli.toml

# Redis
*.rdb

# Docker
.dobi

# Helm
charts/omnitruck/charts
charts/omnitruck/tmpcharts
charts/omnitruck/Chart.lock
charts/omnitruck/Chart.yaml.bak

.vscode