project:
  alias: omnitruck

slack:
  notify_channel: releng-notify
  
github:
  delete_branch_on_merge: true
  major_bump_labels:
    - "Expeditor: Bump Version Major"
  minor_bump_labels:
    - "Expeditor: Bump Version Minor"


# These are our Buildkite pipelines where deploys take place
pipelines: 
  - verify
  - docker/build

subscriptions:
  - workload: pull_request_merged:{{github_repo}}:{{release_branch}}:*
    actions:
      - built_in:bump_version:
          ignore_labels:
            - "Expeditor: Skip Version Bump"
            - "Expeditor: Skip All"
      - bash:.expeditor/update_version.sh:
          only_if: built_in:bump_version
      - built_in:update_changelog:
          ignore_labels:
            - "Expeditor: Skip Changelog"
            - "Expeditor: Skip All"
      - trigger_pipeline:docker/build:
          only_if_modified: Dockerfile
          ignore_labels:
            - "Expeditor: Skip All"
            - "Expeditor: Skip Docker"
  - workload: project_promoted:{{github_repo}}:{{release_branch}}:*
    actions:
      - built_in:promote_docker_images
