development:
  virtual_path: ''
  build_list_v2: './build_list_v2.json'
  build_server_list_v2: './build_server_list_v2.json'
  build_chefdk_list_v2: './build_chefdk_list_v2.json'
  build_container_list_v2: './build_container_list_v2.json'
  build_list_v1: './build_list_v1.json'
  build_server_list_v1: './build_server_list_v1.json'
  build_chefdk_list_v1: './build_chefdk_list_v1.json'
  build_container_list_v1: './build_container_list_v1.json'
  chef_platform_names: './chef-platform-names.json'
  chef_server_platform_names: './chef-server-platform-names.json'
  aws_metadata_bucket: 'opscode-omnibus-package-metadata-test'
  aws_packages_bucket: 'opscode-omnibus-packages-test'
