development:
  virtual_path: ''

  metadata_dir: './metadata_dir'
  
#
# Uncomment to define a single project or subset of projects.
#
# projects:
#   - chef
#   - chef-server
#   - chefdk
#   - angrychef

  channels:
    stable:
      aws_metadata_bucket: 'opscode-omnibus-package-metadata'
      aws_packages_bucket: 'opscode-omnibus-packages'
    current:
      aws_metadata_bucket: 'opscode-omnibus-package-metadata-current'
      aws_packages_bucket: 'opscode-omnibus-packages-current'
