development:
  virtual_path: ''
  build_list: './build_list.json'
  human_readable_list: './human_readable_list.json'		     
  aws_access_key_id: 'key_goes_here'
  aws_secret_access_key: 'secret_goes_here'
  aws_bucket: 'opscode-omnitruck-test'
